/* google fonts import*/ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap')

/* wildcard selector to override the default styles*/ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles*/
body {
    min-height: 100vh;
    color: #3a3a3a;
    font-family: 'lato' sans-serif;
    /*flex box styles*/
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    /* box-shadow adds a shadow behind the element */
    box-shadow: 0 2px 2px #3a3a3a;
    /* flex box styles*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;

}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1rem;

}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*nav bar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}
/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle label {
    font-size: 2rem;

}
/* main */
main {
    background-color: lightblue;
    /*adding space to push content down*/
    margin-top: 47px;
    flex: 1 0 auto;
}
/* footer */
footer {
    background-color: orange;
}
/* media queries */
@media  screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle label {
        display: none;
    }
}