/* wildcard selector to override the default styles*/ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* heading */
h1 {
    background-color: lightcoral;
}
/* main */
main {
    background-color: lightblue;
}
/* footer */
footer {
    background-color: orange;
}
